<!doctype html>
<html class="no-js" lang="en" itemscope itemtype="http://schema.org/WebPage">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="{{ app.config.get('general/meta-http-equiv') }}">
		<meta name="HandheldFriendly" content="{{ app.config.get('general/meta-handheld-friendly') }}">
		<meta name="viewport" content="{{ app.config.get('general/meta-viewport') }}">
		<title>
			{%- set route = app.request.get('_route')|split('_')[0] %}
			{%- if app.request.get('_route') == 'homepage' %}
				{{- app.config.get('general/sitename') -}}
			{%- elseif route == 'directoryIndex' %}
				{{- app.request.get('_route')|replace({'directoryIndex_': "", '_base': "", '_' : " "})|title }} | {{ app.config.get('general/sitename') -}}
			{%- elseif app.request.get('_route') == 'contentlink' %}
				{{- seo.title -}}
			{%- else %}
				{%- if record.title is defined %}{{ record.title|striptags }} | {% endif -%}
					{{- app.config.get('general/sitename') -}}
				{% if record.title is not defined and app.config.get('general/payoff') %} | {{ app.config.get('general/payoff') }}{% endif -%}
			{% endif -%}
		</title>
		<link rel="icon" type="image/png" href="{{ paths.files }}{{ app.config.get('general/favicon32x32') }}" sizes="32x32">
		<link rel="icon" type="image/png" href="{{ paths.files }}{{ app.config.get('general/favicon16x16') }}" sizes="16x16">
		<link rel="apple-touch-icon-precomposed" href="{{ paths.files }}{{ app.config.get('general/apple-touch-icon-precomposed180x180') }}" sizes="180x180">
		<link rel="manifest" href="{{ paths.files }}{{ app.config.get('general/manifest') }}">
		<link rel="mask-icon" href="{{ paths.files }}{{ app.config.get('general/safari-pinned-tab') }}" color="{{ app.config.get('general/safari-pinned-tab-colour') }}">
		<meta name="theme-color" content="{{ app.config.get('general/meta-theme-colour') }}">
		<link type="text/plain" rel="author" href="{{ paths.root }}humans.txt">
		{{ seo.metatags() }}
		{#<!-- A variable from the theme's config: {{ theme.foo }} -->#}
		<link rel="stylesheet" href="{{ paths.theme }}assets/css/app.css">
		<script src="//use.typekit.net/lep8pam.js" onload="try{Typekit.load({ async: true });}catch(e){}" async></script>
		{% block headincludes %}
		{% endblock headincludes %}
	</head>
	<body id="top">
		{{ include('partials/_svg.twig') }}
		{% if app.request.get('_route') != 'homepage' %}
			{{ include('partials/_header.twig') }}
		{% endif -%}
		{% block body %}
			{% block main %}
			{% endblock main %}
		{% endblock body %}
		{{ include('partials/_footer.twig') }}
		<script src="{{ paths.theme }}assets/js/min/app-min.js" async defer></script>
	</body>
</html>