{% extends 'layouts/_default.twig' %}
{% block main %}

<main id="main" class="listing-index">
	<div class="row column">

		<article class="callout">

			<h2 data-bolt-field="title">{{ record.title }}</h2>

            {% if record.subtitle %}
                <h3 data-bolt-field="subtitle">{{ record.subtitle }}</h3>
            {% endif %}

            {% for key,value in record.values if key not in ['id', 'slug', 'datecreated', 'datechanged', 'datepublish', 'datedepublish', 'username', 'status', 'title', 'subtitle', 'ownerid', 'templatefields'] %}

                {% if record.fieldtype(key) == "image" and value != "" %}

                    {% if record.image!="" %}
                        <div class="large-4 imageholder">
                            <a href="{{ image(value) }}">
                                <img src="{{ thumbnail(value, 640, 480) }}">
                            </a>
                        </div>
                    {% endif %}


                {% elseif record.fieldtype(key) == "imagelist" and attribute(record, key) is not empty %}

                    {# We do something tricky here: we need to get value of the list in the proper
                       way, so the value in actually returned as a list. Using {{ record.key }}
                       won't work, because there is no value 'key'. In your own templates you
                       will be able to use {{ record.yourfieldname }}. #}

                    {% set list = attribute(record, key) %}

                    {% for item in list %}
                        <a href="{{ image(item.filename) }}">
                            <img src="{{ thumbnail(item.filename, 100,100) }}" alt="{{ item.title }}" title="{{ item.title }}">
                        </a>
                    {% endfor %}

                {% elseif record.fieldtype(key) == "video" and value.responsive is defined %}

                    {{ value.responsive }}

                {% elseif record.fieldtype(key) == "geolocation" and value.latitude is not empty %}

                    <div class="imageholder-wide">
                        <img src="http://maps.googleapis.com/maps/api/staticmap?center={{ value.latitude }},{{ value.longitude }}&amp;zoom=14&amp;size=617x300&amp;sensor=false&amp;markers={{ value.latitude }},{{ value.longitude }}">
                    </div>
                    <p>{{ value.formatted_address }}</p>

                {% elseif record.fieldtype(key) in ['html', 'markdown', 'textarea'] %}

                    <div data-bolt-field="{{ key }}">{{ attribute(record, key) }}</div>

                {% elseif record.fieldtype(key) == "select" %}

                    {# special case for 'select' fields.. If it's a multiple select, the value is an array. #}
                    <p><strong>{{ key }}: </strong>
                        {{ attribute(record, key)|join(", ") }}
                    </p>

                {%  endif %}

            {% endfor %}
			<hr>
			<p><strong>{{ __('Date Issued') }}: </strong>{{ record.date_issued }}</p>
			<hr>
			<p><strong>{{ __('Download') }}: </strong><a class="download" title="{{ __('Download') }}" href="{{ paths.root }}files/{{ record.attachment }}"><svg class="icon icon-download" width="1em" height="1em"><use xlink:href="#icon-download"></use></svg></a></p>
			<hr>
			<p>
				{% if record.taxonomy is defined %}
					{% for type, values in record.taxonomy %}
						{% for link, value in values %}
							<a href="{{ link }}" title="{{ __('Back') }}"><svg class="icon icon-chevron-left" width="1em" height="1em"><use xlink:href="#icon-chevron-left"></use></svg>&nbsp;{{ value }}</a>{% if not loop.last %}, {% endif %}
						{% endfor %}
						{% if not loop.last %} - {% endif %}
					{% endfor %}
				{% endif %}
			</p>

		</article>

	</div>
</main>
{% endblock main %}