<footer id="footer" itemscope itemtype="http://schema.org/WPFooter">
    <div class="footer-top"></div>
    <div class="copyright">
        <div class="row column">
            <ul class="menu">
                <li><span class="no-link">Copyright {{ 'now'|date('Y') }}</span></li>
                <li><a data-open="privacyPolicy">{% setcontent block = 'blocks/read-about-privacy' %}{{ block.title }}</a></li>
                <li><a data-open="terms">{% setcontent block = 'blocks/read-our-terms' %}{{ block.title }}</a></li>
            </ul>
        </div>
    </div>
    <div class="reveal" id="privacyPolicy" data-reveal>
		{% setcontent block = 'blocks/read-about-privacy' %}
		{{ block.content }}
        <button class="close-button" data-close aria-label="Close modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="reveal" id="terms" data-reveal>
		{% setcontent block = 'blocks/read-our-terms' %}
		{{ block.content }}
        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</footer>